bin
bin/*
lib
lib/*
src/lib
src/lib/*
src/macos
src/macos/*
src/palmos
src/palmos/*
*.o
*.bin
*.tmp
*.out
*.grc
src/plua/client/client
src/plua/client/res
src/plua/help/plua2help.txt
src/plua/res
src/plua/rt/res
